#commentButton {
    background-color: antiquewhite;
    color: black;
}
#commentButton.active {
    background-color: greenyellow;
    color: aliceblue;
}
#commentUpdate {
    
}
#report_tag{
     opacity: 0;
     pointer-events: none;
}
#report_tag.showReport{
    opacity: 1;
    pointer-events: all;
}